/* HTML */

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "SignPainter";
  src: url("../fonts/SignPainter-HouseScript.ttf") format("truetype");
}

*:focus {
  outline: none;
}

html {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  --item-text-color: white;
  --item-padding: 1px;
  --item-height: 15%;
  --item-width: 15%;
  --item-float: left;
  --item-bg-position: center;
  --item-bg-color: rgb(25, 25, 25);
  --item-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  --item-border-radius: 5px;
  --item-border: rgb(145, 9, 9) solid 1px;
  --item-margin: 1%;
  /* --main-color: rgb(0, 230, 247); */
  --main-color: rgb(255, 255, 255);
  --btn-bg-color: rgb(145, 9, 9);
}

.default {
  padding: var(--item-padding);
  height: var(--item-height);
  width: var(--item-width);
  margin: var(--item-margin);
  background: url(https://www.unesale.com/ProductImages/Large/notfound.png) no-repeat;
  background-size: 80%;
  float: var(--item-float);
  background-position: var(--item-bg-position);
  color: var(--item-text-color);
  /* background-color: var(--item-bg-color); */
  background-color: rgb(25, 25, 25);
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  border-radius: var(--item-border-radius);
  border: var(--item-border);
}

.default:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.item-inner::-webkit-scrollbar-track {
  border: 1px solid var(--main-color);
  background-color: rgb(25, 25, 25);
}

.item-inner::-webkit-scrollbar {
  width: 20px;
  background-color: rgb(25, 25, 25);
}

.item-inner::-webkit-scrollbar-thumb {
  /* background-color: var(--main-color);	 */
  background-color: rgb(25, 25, 25);
}

#drag1::-webkit-scrollbar-track {
  border: 1px solid var(--main-color);
  background-color: rgb(25, 25, 25);
}

#drag1::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(25, 25, 25);
}

#drag1::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

/* ID's */

#button-use {
}

#button-use:hover {
  transition: 500ms;
  background: white;
}

#button:hover {
  transition: 500ms;
  background: white;
}

#button {
}

#drop-count {
  z-index: 999;
  font-size: 150%;
  margin-top: 10%;
  margin-left: 10%;
  width: 75%;
  background-color: var(--btn-bg-color);
  color: black;
  border: none;
  padding: 1% 1.9%;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  color: white;
}

#drag2 > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  border: 2px solid rgb(145, 9, 9);
}

.fa-box-open {
  color: var(--main-color);
  padding: 5px;
  padding-top: 10px;
  font-size: 180%;
}

.fa-campground {
  color: var(--main-color);
  padding: 5px;
  padding-top: 10px;
  font-size: 180%;
}

.cash {
  width: 33%;
  height: 30px;
  background: rgb(25, 25, 25);
  color: var(--main-color);
  text-align: center;
  margin-left: 2%;
  display: flex;
  align-items: center;
  position: relative;
}

.cash i {
  float: left;
  left: 10px;
}

#cash::after {
  content: "$";
  color: gray;
  margin-left: 10px;
  float: right;
  text-align: right;
  align-items: center;
}

#cash {
  font-size: 20px;
}

#job {
  color: var(--main-color);
  margin-left: 10px;
}

.job {
  color: white;
  font-size: 120%;
}

#job-box {
  border: 1px solid var(--item-border);
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 100%;
  width: calc(100% + 30% - 20px);
  background-color: rgb(25, 25, 25);
}

.blackmoney {
  width: 33%;
  height: 30px;
  background: rgb(25, 25, 25);
  color: var(--main-color);
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}

#blackmoney::after {
  content: "$";
  color: gray;
  margin-left: 10px;
  float: right;
  text-align: right;
  align-items: center;
}

#blackmoney {
  font-size: 20px;
}

.bank {
  width: 33%;
  height: 30px;
  background: rgb(25, 25, 25);
  position: relative;
  color: var(--main-color);
  text-align: center;
  display: flex;
  align-items: center;
}

.fa-money-check,
.fa-money-bill-alt {
  float: left;
  font-size: 190%;
}

.fa-money-bill {
  color: red;
  float: left;
  font-size: 190%;
}

#bank::after {
  content: "$";
  color: gray;
  margin-left: 10px;
  float: right;
  text-align: right;
  align-items: center;
}

#bank {
  font-size: 20px;
}

.item-container {
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -30%;
  background: rgb(25, 25, 25);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

#item-box {
  margin: 5px;
  width: 2.5%;
  position: absolute;
  height: 5%;
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  /* background: var(--item-bg-color); */
  background-color: rgb(25, 25, 25);
}

#item-box-2 {
  margin: 5px;
  width: 2.5%;
  position: absolute;
  height: 5%;
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  background: var(--item-bg-color);
}

/* CLASSES */

.margin-right {
  margin-right: 10px;
}

.btn {
  border: none;
  position: relative;
  padding: 1% 2.2%;
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  color: black;
  margin-top: 10%;
  margin-left: 10%;
  font-size: 150%;
  width: 80%;
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  color: white;
}

.btn:hover {
  transition: 500ms;
  background: white;
  color: black;
}

.item-test {
  height: 80px;
  width: 100px;
  padding: 1px;
  color: white;
  height: 16%;
  width: 17%;
  float: left;
  background-position: bottom;
  background-color: rgba(31, 30, 43, 1);
  box-shadow: 11px 15px 13px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  border: rgb(145, 9, 9) solid 1px;
  margin: 1%;
  position: relative;
}


.item-test-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31,30,43,1);
  z-index: 0;
}

.item {
  position: relative;
}
.logo {
  top: -6%;
  left: -7%;
  position: absolute;
  z-index: 100;
  width: 30%;
}

.logo img {
  width: 100%;
}

.heading {
  color: white;
  position: absolute;
  margin-top: 0.7%;
  margin-left: 18%;
  font-size: 220%;
  font-family: "SignPainter";
  z-index: 100;
}

.heading-2 {
  color: white;
  position: absolute;
  margin-top: 0.7%;
  margin-left: 3.8%;
  font-size: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
}

.item-inner-2 {
  width: 100%;
  height: 200%;
  float: left;
  margin-right: 2%;
  background: no-repeat;
  background-size: 150%;
  margin-left: 38%;
  position: absolute;
}

.item-section {
  width: 35%;
  height: 80%;
  margin-top: 6%;
  margin-left: 2%;
  float: left;
  background: no-repeat;
  background-size: 90%;
  position: relative;
  overflow: visible;
  background-color: rgb(25, 25, 25);
}

.item-section {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OTkgNjI3Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzE5MTkyMzt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmludmVudG9yeVNWRzwvdGl0bGU+PGcgaWQ9IkxhZ2VyXzIiIGRhdGEtbmFtZT0iTGFnZXIgMiI+PGcgaWQ9IkxhZ2VyXzEtMiIgZGF0YS1uYW1lPSJMYWdlciAxIj48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTI3IDAgMCAwIDAgNDEgMCAyNjkgMCA2MjcgNDk5IDYyNyA0OTkgNDEgMTY1IDQwIDEyNyAwIi8+PC9nPjwvZz48L3N2Zz4=);
  background-size: cover;
  background-color: rgb(25, 25, 25);
}

.item-inner {
  height: calc(95% - 56px);
  width: 98%;
  float: left;
  overflow-y: scroll;

  margin-left: 2%;
  background-color: rgb(25, 25, 25);
}

.topbar {
  position: relative;
  height: 8%;
}

.money-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
}

#drag1 {
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 0%;
  margin-left: 0%;
  overflow-y: scroll;
}

.gu-mirror {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* KEYFRAMES */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(4deg);
  }
  75% {
    -webkit-transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
